:root {
    --Blanco: #FFFFFF;
    --GrisClarito: #F0F0F0;
    --GrisUnPocoOscurito: #CCCCCC;
    --GrisOscurito: #333333;
    --GrisMedioOscurito: #555555;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--GrisClarito);
}

header, footer {
    background-color: var(--GrisOscurito);
    color: var(--Blanco);
    text-align: center;
    padding: 20px 0;
}

header a {
    text-decoration: none;
    color: var(--Blanco);
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#formulario, #resultado {
    background-color: var(--Blanco);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input[type="number"], button {
    width: calc(900px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--GrisUnPocoOscurito);
    border-radius: 5px;
}

button {
    background-color: var(--GrisOscurito);
    color: var(--Blanco);
    cursor: pointer;
}

button:hover {
    background-color: var(--GrisMedioOscurito);
}

#numeroInput, #textoMayores {
    width: 878px;
    display: none;
}

#resultado h2 {
    color: var(--GrisOscurito);
}

#resultadoLista {
    background-color: var(--Blanco);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 855px;
}